.container {
    position: absolute;
    top: 11%;
    left: 3%;
}
.card {
    outline: none;
    color: #032558;
    font-weight: 500;
}
.card-footer {
    background-color: #061525;
}
.card-footer small{
    color: #d8d0d0 !important;
    font-family: Impact, Haettenschweiler, sans-serif;
    
}
.static-content {
    background-color: #061525 ;

}
.col-4 {
    flex: initial;
}
.bg-color {
    background-color: #00060c ;
}
