
<div class="container"> 
    <button type="button" style="width: 100px;" class="btn btn-primary" routerLink='/table'>Back</button>
    <div class="row" >
        <table>
            <tr>
                <th>Id:</th>
                <th>Title:</th>
                <th>Description:</th>
            </tr>
            <tbody>
               <tr>
                   <td>
                    <span>{{userDetails?.id}}</span>
                   </td>
                   <td>
                    <span>{{userDetails?.title}}</span>
                   </td>
                   <td>
                    <span>{{userDetails?.body}}</span>
                   </td>
               </tr>
                
            </tbody>
    </table>
    
    </div>
    
    </div>
